body{
    margin: 0;
    .presentation-main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    margin-top: -10px;
    padding-bottom: 55px;
    background-color: #f6f6f6;
    p{
        font-size: larger;
        font-weight: 300;
        color: #353535;
    }
    .btn-primary{
        border-radius: 35px;
        background: linear-gradient(to top, #9356DC, #FF79DA);
        padding: 20px;
        color: white;
        text-decoration: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    }
    h1{
        margin-bottom: -5px;
        margin-left: 75px;
        margin-right: 75px;
    }
    .fonctionnement-main-container .title-section{
        margin-top: 35px;
    }
    
    .fonctionnement-main-container{
        padding: 15px;
    }
    
}

.fonctionnement {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    margin-right: 15px;
}
.fonctionnement-list{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
    gap: 30px;
}
.fonctionnement article {
    display: flex;
    align-items: center;
}

.function{
    color: #7e7e7e;
}

.btn-second-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px; 
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    font-weight: bold;
    position: relative;
    left: -20px;
}

h3 {
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
}

.restaurant-main-container{
    background-color: #f8f8f8;
    margin-top: 80px;
    padding: 15px;
    
}
.fonctionnement-main-container{
    padding: 15px;
}
.restaurant-title{
    margin-top: 35px;
}
.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    justify-content: center;
    padding-bottom: 55px;
}

.restaurant-list a {
    text-decoration: none;
    width: 100%;
}

.card {
    position: relative;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.card img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.article-content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.card-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.card-subtitle {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: black;
}

.card-rating {
    font-size: 18px;
    color: black;
}
.card-rating i{
    position: absolute;
    top: 25px;
    right: 20px;
}
.hide{
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
.hide:hover{
    opacity: 1;
}
.badge {
    position:absolute;
    top: 10px;
    right: 10px;
    background-color: #99E2D0;
    color: #008766;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}
@media (min-width: 600px) {
    body{
        .presentation-main-container{
            h1{
                font-size: 40px;
            }
            p{
                margin-top: 35px;
                margin-bottom: 35px;
            }
            
        }
        .fonctionnement-main-container{
            padding: 30px;
        }
        .fonctionnement-list{
            flex-direction: row;
            justify-content: space-between;
            margin-top: 35px;
            gap: 30px;
        }
        .fonctionnement{
            width: 33%;
        }
        .background-restaurant{
            background-color: #f8f8f8;
        }
        .restaurant-main-container{
            padding: 30px;
        }
        .restaurant-cards{
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           gap: 15px;
           width: 100%;
        }
        .restaurant-list{
            margin-bottom: -15px;
            width: calc(50% - 50px);
        }
    }
}
@media (min-width: 1024px) {
    body{
        .presentation-main-container{
            h1{
                font-size: 40px;
            }
            p{
                margin-top: 35px;
                margin-bottom: 35px;
            }
        }
        .fonctionnement-main-container{
            padding: 30px;
            margin-left: 105px;
            margin-right: 105px;
        }
        .fonctionnement-list{
           
            flex-direction: row;
            justify-content: space-between;
            margin-top: 35px;
            gap: 30px;
        }
        .fonctionnement{
            width: 33%;
        }
        .background-restaurant{
            background-color: #f8f8f8;
        }
        .restaurant-main-container{
            padding: 30px;
            margin-left: 105px;
            margin-right: 105px;
        }
        .restaurant-cards{
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           gap: 15px;
           width: 100%;
        }
        .restaurant-list{
            margin-bottom: -15px;
            width: calc(50% - 50px);
        }
    }
}
.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #9356DC;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  .loader-container{
    position: fixed;
    animation-fill-mode: forwards !important;
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation: hideLoader 2500ms 1 forwards;
    z-index: 1;
  }
  @keyframes animloader {
    0% {
      box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
    }
    33% {
      box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
    }
    66% {
      box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
    }
    100% {
      box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
      display: none;
    }
  }
  @keyframes hideLoader {
    100% {
      opacity: 0;
      pointer-events: none;
      display: none;
    }
  }